<!DOCTYPE html>
<html>
<head>
  <title>Loco</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Loco", root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </nav>

  <script type="text/x-handlebars" name="application">
    <div class="container-fluid">
      {{outlet}}
    </div>
  </script>
</body>
</html>
